<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.monjaro.mconfig">

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission  android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.usb.host" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MConfig"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MConfig"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/octet-stream" android:host="*" android:pathPattern=".*\\.mcf"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain" android:host="*" android:pathPattern=".*\\.mcf"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.mcf"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:mimeType="*/*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.mcf"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.mcf"/>
                <data android:pathPattern=".*\\..*\\..*\\.mcf"/>
                <data android:pathPattern=".*\\..*\\.mcf"/>
                <data android:pathPattern=".*\\.mcf"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.mcf"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="*"/>
                <data android:host="*"/>
                <data android:pathPattern=".*\\.mcf"/>
            </intent-filter>

        </activity>

        <service android:name="ru.monjaro.mconfig.MConfigService"/>
        <service android:name="ru.monjaro.mconfig.MConfigInitService"/>

        <receiver android:name="ru.monjaro.mconfig.BootService"
            android:enabled="true" android:exported="true" android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="ru.monjaro.mconfig.KeysConfigReceiver" android:enabled="true" android:exported="true">
            <intent-filter android:priority="2147483647">
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="ecarx.intent.action.ECARX_KEY_ISRC_EVENT"/>
                <action android:name="ecarx.intent.action.ECARX_KEY_ISRC_EVENT_DOWN"/>
                <action android:name="ecarx.intent.action.ECARX_KEY_ISRC_EVENT_UP"/>
                <action android:name="ecarx.intent.action.ECARX_KEY_RSRC_EVENT_DOWN"/>
                <action android:name="ecarx.intent.action.ECARX_KEY_RSRC_EVENT_UP"/>
                <action android:name="android.intent.action.IEDIA_BUTTON"/>
                <action android:name="ecarx.intent.action.ECARX_KEY_RSRC_EVENT"/>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="ecarx.intent.action.vr_pressed"/>
                <action android:name="ecarx.intent.action.vr_released"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".PnAccessibilityService"

            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="ru.monjaro.mconfig">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>

</manifest>